<?xml version="1.0"?>
<launch>
    <param name="robot_description" textfile="$(find jedgar_description)/urdf/jedgar.urdf" />
    <rosparam file="$(find jedgar_driver)/config/jedgar_controllers.yaml" command="load"/>

    <node name="jedgar_driver" pkg="jedgar_driver" type="jedgar_driver"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner"
          args="jedgar_state_controller jedgar_base_controller --shutdown-timeout 1"/>
</launch>

